.col1 {
    background: #E8AA4C;
}

.col2 {
    background: #FF384E;
}

.col3 {
    background: #5C7080;
}

.col4 {
    background: #6BC0FF;
}

.col5 {
    background: purple;
}

.col5 h1 {
    color: white;
}

.col6 {
    background: aqua;
}

body {
    padding-top: 70px;
}