{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
  <h1>Hello, {{ name }}!</h1>
  <small>{{ quote[0] }} -- {{ quote[1] }}</small>
</div>
<p>This is the user profile page.</p>
<p>While this page is still under construction, here's a problem for you:
  The qoutes that appears before the main title is causing bugs in the system.
  Try to guess what are the percentage of quotes that are causing the bug.
  I suggest modeling it using either binomial or poisson distribution.
  <!-- Enter your guess below: -->
</p>
{% endblock %}
